-e .[dev]
appdirs==1.4.3
bonobo==0.5.1
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
colorama==0.3.9
coverage==4.4.1
fs==2.0.12
idna==2.6
packaging==16.8
pbr==3.1.1
psutil==5.4.0
py==1.4.34
pyparsing==2.2.0
pytest-cov==2.5.1
pytest==3.2.3
python-dotenv==0.7.1
pytz==2017.2
requests==2.18.4
six==1.11.0
stevedore==1.27.1
urllib3==1.22
